/* Header*/
#header{
  background:#1c1c1c;
  color:#d5d5d5;
  cursor:default;
  height:5em;
  left:0;
  line-height:5em;
  position:fixed;
  text-align:right;
  top:0;
  width:100%;
  z-index:10001;
}
#header .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 480px) {
 #header .inner {
  max-width: 90%;
  width: 90%;
 }
}
#header .logo {
  font-family: 'Pacifico', cursive;
  display: inline-block;
  height: inherit;
  left: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  color: #e5474b;
  font-size: 1.75em;
  text-transform: none;
  font-weight: normal;
  padding: 0;
}
#header .logo:hover {
  color: rgba(229, 71, 75, 0.75);
}
#header a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  display: inline-block;
  padding: 0 2em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .85em;
}
#header a:hover {
  color: rgba(255, 255, 255, 0.75);
}
#header a:last-child {
  padding-right: 0em;
}
@media screen and (max-width: 736px) {
#header a {
  padding: 0 0.5em;
}
}
@media screen and (max-width: 480px) {
#header {
  min-width: 320px;
}
}

/*Banner*/
#banner {
  background-color: #e5474b;
  color: #f2a3a5;
  padding: 13em 0 11em 0;
  background-color: #0c0c0c;
  background-image: url("pic/ideacollector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 15% left;
  text-align: left;
  position: relative;
  z-index: 9999;
  margin:0 auto;
}

section{
  margin:0 auto;
}

#banner:after {
  -moz-transition: opacity 4s ease;
  -webkit-transition: opacity 4s ease;
  -ms-transition: opacity 4s ease;
  transition: opacity 4s ease;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-color: #0c0c0c;
  opacity: 0.25;
  margin:0 auto;
}

#banner .inner {
  max-width: 65em;
  width: calc(100% - 6em);
  margin: 0 auto;
  position: relative;
  z-index: 10000;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
#banner .inner {
  max-width: 90%;
  width: 90%;
}
}

#banner h1 {
  font-size: 2em;
  margin: 0 0 1em 0;
  padding: 0;
  letter-spacing: 3px;
  font-weight: 700;
}

#banner h1 span {
  font-weight: 400;
}

body.is-loading #banner:after {
  opacity: 1;
}

/*one*/
#one {
  padding: 6em 0 4em 0;
}
@media screen and (max-width: 980px) {
#one {
  padding: 4em 0 2em 0;
}
}
@media screen and (max-width: 736px) {
#one {
  padding: 2em 0 0.1em 0;
}
}

/*Two*/
#two .inner {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

#two .inner article {
  width: 50%;
}

#two .inner article:first-child {
  padding-right: 6em;
}
#two .inner article:last-child {
  padding-left: 6em;
}
@media screen and (max-width: 980px) {
#two {
  padding: 4em 0 2em 0;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=0 );
}
#two .inner {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#two .inner article {
  width: 100%;
}
#two .inner article:first-child {
  padding-right: 0;
  padding-bottom: 2em;
}
#two .inner article:last-child {
  padding-left: 0;
  padding-top: 2em;
}
}
@media screen and (max-width: 736px) {
#two {
  padding: 2em 0 0.1em 0;
}
}


